{
    "check-coverage": true,
    "per-file": false,
    "statements": 70.02,
    "branches": 65.6,
    "functions": 67.42,
    "lines": 70.03,
    "include": [
        "src/**/*.js"
    ],
    "reporter": [
        "lcov",
        "text",
        "html"
    ],
    "cache": true,
    "all": true
}
