{
    "check-coverage": true,
    "per-file": false,
    "statements": 58.73,
    "branches": 51.15,
    "functions": 50.88,
    "lines": 59.33,
    "include": [
        "src/**/*.js"
    ],
    "reporter": [
        "lcov",
        "text",
        "html"
    ],
    "cache": true,
    "all": true
}
