{
    "check-coverage": true,
    "per-file": false,
    "statements": 60.03,
    "branches": 53.44,
    "functions": 53.95,
    "lines": 60.5,
    "include": [
        "src/**/*.js"
    ],
    "reporter": [
        "lcov",
        "text",
        "html"
    ],
    "cache": true,
    "all": true
}
